{% extends 'base.html' %}

{% load common_tags %}

{% block title %}
    Projects
{% endblock %}

{% block body %}
    {% if projects %}
        {% for project in projects %}
            <div class="content-container">
                <div class="panel panel-default">
                    <div class="panel-heading project-title centered-content">
                        {% if project.url %}
                            <a href="{{ project.url }}" target="_blank">{{ project.title }}</a>
                        {% else %}
                            {{ project.title }}
                        {% endif %}
                    </div>

                    

                    <div class="panel-body">
                        <div class="centered-content">
                            {% for tag in project.tags.all %}
                                <span class="label label-primary">{{ tag }}</span>
                            {% endfor %}
                        </div>

                        <p>
                            {% autoescape off %}
                                {{ project.description|markdownify }}
                            {% endautoescape %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="content-container">There are no portfolio projects.</div>
    {% endif %}

    <div class="page-navigation-container">
        <ul class="pagination">
            {% if projects.has_previous %}
                <li><a href="?page={{ projects.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if projects.has_next %}
                <li><a href="?page={{ projects.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}