/* General font and layout */

body {
    font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

nav {
    font-family: 'Open Sans', serif;
    font-size: 1.1em;
}

p {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

.centered-content {
    text-align: center;
}

.content-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #222222;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #222222;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #222222;
}


/* About layout */

.about-container {
    margin-top: 2.0em;
    margin-bottom: 2.0em;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social-buttons {
    margin: auto;
}


/* Portfolio layout */

.project-title {
    font-family: 'Open Sans', serif;
    font-size: 1.1em;
}


/* Pagination display */

.page-navigation-container {
    display: block;
    text-align: center;
}

.page-navigation-container li {
    display: inline-block;
}


/* Override Bootstrap navbar to center */

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}