p {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    line-height: 1.6em;
}

.content-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.page-navigation-container {
    display: block;
    text-align: center;
}

.page-navigation-container li {
    display: inline-block;
}

.post-footer {
    text-align: center;
}

.post-title {
    text-align: center;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-title {
    text-align: center;
}

.social-button-container {
    text-align: center;
}

.social-buttons {
    margin: auto;
}