h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Lora', serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

nav {
    font-family: 'Open Sans', serif;
    font-size: 1.1em;
}

.about-container {
    margin-top: 2.0em;
    margin-bottom: 2.0em;
}

.content-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.page-navigation-container {
    display: block;
    text-align: center;
}

.page-navigation-container li {
    display: inline-block;
}

.post-footer {
    text-align: center;
}

.post-tags {
    text-align: center;
}

.post-title {
    text-align: center;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-title {
    text-align: center;
}

.social-button-container {
    text-align: center;
}

.social-buttons {
    margin: auto;
}

#about-description {
    text-align: center;
}