{% extends 'base.html' %}

{% block title %}
    Projects
{% endblock %}

{% block body %}
    <div class="project-container">
        {% for project in projects %}
            <div class="panel panel-default">
                <div class="panel-heading project-title">
                    {% if project.url %}
                        <a href="{{ project.url }}">{{ project.title }}</a>
                    {% else %}
                        {{ project.title }}
                    {% endif %}
                </div>
                <div class="panel-body">
                    {{ project.description|linebreaks }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}