{% extends 'base.html' %}

{% load common_tags %}

{% block title %}
    Projects
{% endblock %}

{% block body %}
    {% if projects %}
        {% for project in projects %}
            <div class="content-container">
                <div class="panel panel-default">
                    <div class="panel-heading project-title">
                        {% if project.url %}
                            <a href="{{ project.url }}">{{ project.title }}</a>
                        {% else %}
                            {{ project.title }}
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {% autoescape off %}
                            {{ project.description|markdownify|linebreaks }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="content-container">There are no portfolio projects.</div>
    {% endif %}
{% endblock %}