{% extends 'base.html' %}

{% load common_tags %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}
    {% url 'blog:post_detail' post_month=post.published_date.month post_day=post.published_date.day post_year=post.published_date.year post_slug=post.slug as post_url %}

    <div class="content-container">
        <h3 class="post-title">
            <a href="{{ post_url }}">{{ post.title }}</a><br />
            <small>{{ post.published_date }}</small>
        </h3>

        <p class="post-body">
            {% autoescape off %}
                {{ post.text|markdownify }}
            {% endautoescape %}
        </p>
    </div>
{% endblock %}