{% load common_tags %}

{% if filtered %}
    <div class="content-container centered-content">
        <a href="#" class="tag" data-tag="">
            <span class="label label-primary">View All</span>
        </a>
    </div>
{% endif %}

{% if posts %}
    {% for post in posts %}
        {% url 'blog:post_detail' post_month=post.published_date.month post_day=post.published_date.day post_year=post.published_date.year post_slug=post.slug as post_url %}

        <div class="content-container">
            <h2 class="centered-content">
                <a href="{{ post_url }}">{{ post.title }}</a><br />
                <small>{{ post.published_date }}</small>
            </h2>

            <p class="centered-content">
                {% for tag in post.tags.all %}
                    <a href="#" class="tag" data-tag="{{ tag.title }}">
                        <span class="label label-primary">{{ tag.title }}</span>
                    </a>
                {% endfor %}
            </p>

            <p>
                {% autoescape off %}
                    {{ post.text|markdownify|truncatechars_html:750 }}
                {% endautoescape %}
            </p>

            {% if post.text|length > 500 %}
                <p class="centered-content">
                    <a href="{{ post_url }}">Read more</a>
                </p>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <div class="content-container centered-content">There are no blog posts.</div>
{% endif %}