{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rob Cutmore - {% block title %}Software Developer{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
        <link rel="stylesheet" href="{% static 'css/codehilite.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-static-top center" role="navigation">
            <div class="navbar-inner">
                <ul class="nav navbar-nav">
                    {% if active_page == 'about' %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                    <a href="{% url 'about' %}">About</a></li>

                    {% if active_page == 'blog' %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                    <a href="{% url 'blog:post_list' %}">Blog</a></li>

                    {% if active_page == 'portfolio' %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                    <a href="{% url 'portfolio:project_list' %}">Portfolio</a></li>
                </ul>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/site-ajax.js' %}"></script>
    </body>
</html>
