<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rob Cutmore - {% block title %}Software Developer{% endblock %}</title>
    </head>

    <body>
        <div>
            <ul>
                <li><a href="{% url 'blog:post_list' %}">Blog</a></li>
                <li><a href="{% url 'portfolio:project_list' %}">Projects</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </div>

        {% block body %}{% endblock %}

    </body>
</html>